.map-popup{
    width: 240px;
    padding:var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.popup-badge{
    align-self: center;
    padding:var(--space-xs) var(--space-sm);
    border-radius: var(--radius-round);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: var(--font-size-xs);
    font-weight: var(--font-semibold);
}

.popup-title{
    align-self: center;
    margin: 0;
    font-size: var(--font-size-md);
    color: var(--color-text);
}

.popup-address{

    margin: 0;
    font-size: var(--font-size-sm);
    color: var(--color-text-light);
}

.popup-button{
    margin-top:var(--space-sm);
    text-align:center;
    text-decoration:none;
    padding:10px;
    border-radius:var(--radius-md);
    background:var(--color-primary);
    color:white;
    font-weight:600;
}
