.map-popup{
    width: 240px;
    padding:var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}


.popup-title{
    text-align: center;
    margin: 0;
    font-size: var(--font-size-md);
    color: var(--color-text);
    margin-bottom: var(--space-sm);
}

.popup-address{

    margin: 0;
    font-size: var(--font-size-sm);
    color: var(--color-text-light);
}

.popup-button{
    display:inline-block;
    transition:background .2s ease;
    margin-top:var(--space-sm);
    text-align:center;
    text-decoration:none;
    padding:10px;
    border-radius:var(--radius-md);
    background:var(--color-primary);
    color:white;
    font-weight:600;
}

.popup-button:hover{
    opacity:.9;
}
